* {
	margin: 0;
}

html, body {
	// background-color: $background;
	// background-image: url(../../img/noisy-grid.png);
	// background-attachment: fixed;
	font-family: $merriweather;
	color: $primary-text;
	margin: 0;
	min-height: 100vh;
	// text-shadow: .5px 1px 5px #c8bcac;

	a {
		color: $links;
	}
}

h1 {
	font-size: 4em;
	@media #{$break-small} {
		font-size: 2em;
	}
	@media #{$break-med} {
		font-size: 2.75em;
	}
}

h2 {
	font-size: 2em;
	@media #{$break-small} {
		font-size: 1.5em;
	}
	@media #{$break-med} {
		font-size: 1.75em;
	}
}

h3 {
	font-size: 1.5em;
	@media #{$break-small} {
		font-size: 1em;
	}
	@media #{$break-med} {
		font-size: 1.25em;
	}
}

.above-the-fold {
	height: 100vh;
	// display: flex;
	// flex-direction: column;
	// justify-content: space-between;
}

.welcome-section {
	display: flex;
	text-align: center;
	flex-direction: column;
	justify-content: space-around;
	padding: 0 10%;
	height: 84vh;

	@media #{break-small} {
		padding: 0 3%;
	}

	@media #{$break-large} {
		height: 88vh;
	}

	.avatar {
		// flex-grow: 2;
		background-image: url(../../img/avatar.jpg);
		height: 40vw;
		width: 40vw;
		min-width: 200px;
		min-height: 200px;
		max-width: 300px;
		max-height: 300px;
		background-size: cover;
		background-position: 30% 0;
		border-radius: 50%;
		box-shadow: 1px 2px 7px lightgray;
		margin: 2% auto 4% auto;
	}

	.name {
		font-family: $fun;
		font-size: 4.5em;

		@media #{$break-med} {
			font-size: 3.25em;
		}
		@media #{$break-small} {
			font-size: 3em;
		}
	}

	.about-me {
		p {
			margin: 15px auto;
			font-size: 1.25em;

			@media #{$break-med} {
				font-size: 1em;
			}

			@media #{$break-small} {
				font-size: 1em;
			}
		}
	}

	.tagline {
		color: $secondary-text;
		line-height: 2.5em;

		h2 {
			font-size: 2.5em;

			@media #{$break-small} {
				font-size: 1.5em;
				line-height: 1.25em;
			}

			@media #{$break-med} {
				font-size: 2em;
				line-height: 1.5em;
			}
		}
	}
}

.social-container {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $accent-background;
	height: 16vh;

	@media #{$break-large} {
		height: 12vh;
	}

	a {
		text-decoration: none;
	}

	.icon {
		margin: 0 4vw;
		color: $links;
		font-size: 3em;

		@media #{$break-small} {
			font-size: 6vh;
		}
	}
}

.work {
	a{
		color: $secondary-text;
	}

	h3 {
		text-align: center;
		margin: 30px 0 15px 0;
	}

	.list-of-work {
		padding: 0;
		display: flex;
		flex-direction: column;
		align-items: stretch;

	}

	.piece {
		padding: 10px;
		text-align: center;
		margin: 10px auto;
		list-style: none;
		border-radius: 3px;
		width: 75%;
		// background-color: $grid-item-background;
		border: 3px solid $accent-background;
		border-radius: 15px;
	}

	.role {
		font-style: italic;
	}

	.publisher {
		font-weight: bold;
		font-size: 1.1em;
	}

	.title {
		background-color: rgba(255, 255, 255, .4);
		width: 85%;
		padding: 3px 4px;
		margin: 5px auto;
		border-radius: 3px;
		line-height: 1.7em;
		color: $secondary-text;
	}

	.description {
		font-style: italic;
	}

}





